<%= form_tag(action: :create) do |f| %>
  <div class="field">
    <%= label_tag :nickname %><br />
    <%= text_field_tag :nickname %>
  </div>
  <div class="actions">
    <%= submit_tag 'ログインする' %>
  </div>
<% end %>
