<h1>Listing movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= link_to movie.title, screening_movie_path(@screening, movie) %></td>
    <% if current_user && current_user.admin? %>
      <td><%= link_to 'Edit', edit_screening_movie_path(@screening, movie) %></td>
      <td><%= link_to 'Destroy', screening_movie_path(@screening, movie), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_screening_movie_path(@screening) if current_user && current_user.admin? %>